#jinja2:lstrip_blocks: True
# {{ ansible_managed }}

defaults {
  find_multipaths {{ multipath_defaults_find_multipaths }}
  user_friendly_names {{ multipath_defaults_user_friendly_names }}
  {% if multipath_defaults is defined %}
  {% for key, value in multipath_defaults.items() %}
  {{ key }} {{ value }}
  {% endfor %}
  {% endif %}
}
{% if multipath_blacklist_devices is defined %}

blacklist {
  {% for device in multipath_blacklist_devices %}
  device {
    {% for key, value in device.items() %}
    {{ key }} {{ value }}
    {% endfor %}
  }
  {% endfor %}
}
{% endif %}
{% if multipath_blacklist_exceptions is defined %}

blacklist_exceptions {
  {% for device in multipath_blacklist_exceptions %}
  device {
    {% for key, value in device.items() %}
    {{ key }} {{ value }}
    {% endfor %}
  }
  {% endfor %}
}
{% endif %}
{% if multipath_devices is defined %}

devices {
  {% for device in multipath_devices %}
  device {
    {% for key, value in device.items() %}
    {{ key }} {{ value }}
    {% endfor %}
  }
  {% endfor %}
}
{% endif %}
{% if multipath_multipaths is defined %}

multipaths {
  {% for multipath in multipath_multipaths %}
  multipath {
    {% for key, value in multipath.items() %}
    {{ key }} {{ value }}
    {% endfor %}
  }
  {% endfor %}
}
{% endif %}
